<h2>Show Manager</h2>

<ul>
    <li>
    <strong>Manager:</strong>
    <%= @manager.manager_id %>
  </li>

  <li>
    <strong>Managee:</strong>
    <%= @manager.managee_id %>
  </li>

</ul>

<span><%= link "Edit", to: manager_path(@conn, :edit, @manager) %></span>

